* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(161, 159, 159);
    max-width: 1280px;
}

.logo {
    background-color: rgb(0, 119, 128);
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
}

.logo::after {
    content: ""; 
    display: block; 
    width: 100%;
    height: 2px; 
    margin: 5px -20px;
    position: absolute;
    border-top: 2px double white;
    bottom: -5px;
}

.horizontal-menu {
    position: relative; 
}

.horizontal-menu::after {
    content: ""; 
    display: block; 
    height: 2px; 
    border-top: 2px double white; 
}

.horizontal-menu ul {
    list-style: none;
    /* display: flex; */
    justify-content: left;
    background-color: rgb(0, 119, 128);
}

.horizontal-menu > ul > li {
    position: relative;
    display: inline-block; 
}

.dropdown {
    border: 2px solid white;
    display: none; 
    position: absolute; 
    left: 0; 
    top: 100%; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    z-index: 1; 
}

.dropdown3 {
    border: 2px solid white;
    display: none; 
    position: absolute; 
    left: 80px; 
    top: 50%; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    z-index: 1; 
}

.horizontal-menu > ul > li:hover .dropdown {
    display: block; 
}

.dropdown > li:hover .dropdown3 {
    display: block; 
}

.horizontal-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.horizontal-menu a:hover {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    padding: 0;
    gap: 0;
}

.lsidebar {
    width: 20%;
    padding: 0;
    color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.lsidebar h2 {
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.menu-content {
    background-color: rgb(0, 119, 128);
    padding: 10px;
    flex-grow: 1;
}

.rsidebar {
    width: 20%;
    padding: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.rsidebar h2 {
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.rsidebar .menu-content {
    background-color: rgb(0, 119, 128);
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vertical-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    border: 0;
    border-top: 1px solid white;
    /* margin-bottom: 15px;
    margin-top: 10px; */
}

.vertical-menu li {
    margin-bottom: 5px;
    /* border-bottom: 1px solid white; */
    position: relative;
}

.vertical-menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.vertical-menu a:hover {
    background-color: white;
    color: black;
}

.dropdown4 {
    display: none; 
    border: 2px solid white;
    position: absolute; 
    left: 100%; 
    top: 0; 
    background-color:rgb(0, 119, 128); 
    z-index: 1; 
    width: 150px; 
}

.link:hover .dropdown4 {
    display: block;
}

.vertical-menu li:hover > .dropdown4 {
    display: block;
}

.main {
    width: 60%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.main h2 {
    background-color: gray; 
    color: black; 
    padding: 10px; 
    text-align: center; 
    margin: 0; 
    width: 100%;
}

.main-content {
    background-color: lightgray; 
    padding: 15px; 
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%;
}

.footer {
    background-color: rgb(0, 119, 128);
    color: black;
    text-align: left;
    padding: 10px 0;
    margin-top: 0;
}

.footer::before {
    content: ""; 
    display: block; 
    width: 100%; 
    height: 2px; 
    border-top: 2px double white; 
    position: absolute; 
    top: -3px; 
}